* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: rgba(51, 3, 77, 0.6);
  }
  .navbar-brand{
    font-size: 30px;
    color: #FFFF8D;
    font-family: "Poppins", sans-serif;
}
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  #search-container {
    margin: 1em 0;
  }
  #search-container input {
    margin: 5px;
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
  }
  #search-container input:focus {
    border-bottom-color: #d9d9d9;
  }
  #search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #d9d9d9;
    color: black;
    border-radius: 5px;
    margin-top: 0.5em;
  }
  .button-value {
    border: 2px solid #FFFF8D;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #FFFF8D;
    cursor: pointer;
  }
  .active {
    background-color: #d9d9d9;
    color: black;
  }
  #products {
    margin: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
  }
  .card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  }
  .image-container {
    text-align: center;
  }
  img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
  }
  .container {
    padding-top: 1em;
    color: #110f29;
  }
  .container h5 {
    font-weight: 500;
  }
  .hide {
    display: none;
  }
  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: 1em;
    }
    #products {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
  }
  .btn-primary{
    background-color: rgba(239, 93, 168, 0.46);
    color: #FFFF8D;
    border-color: transparent;
    text-decoration: underline;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }
  .btn-primary:hover{
    color: black;
    background-color: #d9d9d9;
    border-color: black;
    transform: translateY(10px);
  }
  .heart-icon {
    margin-left: 10px;
    color: red; /* Change color as needed */
    font-size: 24px; /* Change font size as needed */
}
.heart-icon:hover{
    background-color: transparent;
    border-color: red;
}

  
  
