*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(51, 3, 77, 0.6);
}
.navbar-brand{
    font-size: 30px;
    color: #FFFF8D;
    font-family: 'sans-serif';
}
.nav-item{
    color: #FFFF8D;
}
.options{
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
    
}
.dropdown .btn {
    padding-right: 50px;
    margin: 20px;
    padding-left: 50px;
}
.dropdown-menu{
    background-color: transparent;
    width: 250px;
}
.dropdown-item{
    color: #FFFF8D;
}
.dropdown-item:hover{
    background-color: rgba(239, 93, 168, 0.46);
}
.items{
    margin-top: 80px;
    height: 1000px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}
.item-box{
    /* margin-top: 20px; */
    margin: 10px;
    height: 380px;
    width: 260px;
    background-color: #D9D9D9;
    border-radius: 7%;
    padding: 30px;
    margin: 25px;
}
.item-box{
    align-self: center;
    margin-top: 15px; 
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;

}
.item-box:hover{
    transform: translateY(-15px);

}
.details{
    margin-top: 20px;
    padding-left: 5px;
    background-color: white;
    font-weight: 700;
    font-family: 'sans serif';
    border-radius: 4%;  
}
.Dbtn{
    background-color: rgba(239, 93, 168, 0.46);
    border-color: transparent;
    border-radius: 14%;
    text-decoration: underline;
    font-size: smaller;
}

