@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    width: 100%;
    /* background: url('bg.jpg') no-repeat; */
    background-color: #e59bd8;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.form-box{
    position: relative;
    width: 400px;
    height: 530px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 20px; */

}

.form-box h2{
    color: #fff;
    text-align: center;
    font-size: 32px;
}

.form-box .inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;

}

.form-box .inputbox input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    color: #fff;
    font-size: 16px;

}

i{
    position: absolute;
    color: white;
    right: 0;
    top: 13px;
}

input::placeholder{
    color: white;
}

.btn{
    color: white;
    background: rgb(31, 31, 105);
    width: 100%;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 3px 0 10px rgba(0,0,0,5);
}

.group{
    display:flex;
    justify-content: space-between;
}

.group span a{
    color: white;
    position: relative;
    top:10px;
    text-decoration: none;
    font-weight: 500;
}

.group a:focus{
    text-decoration: underline;
}

#result{
    color: red;
    font-weight: 600;
    position: relative;
    top:25px;
}
/* ------------------------------------------------------------------- */
/* .popup{
    width: 400px;
    background-color: white;
    border-radius: 6px;
    position: relative;
    
    justify-content: center;
    align-items: center;
    z-index: 999;
    bottom:480px;
    left:35.2%;
    
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0); 
    transition: transform .4s, top .4s; 
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    height: 300px;
    color: black;
}

.popup ion-icon{
    color: rgb(0, 255, 98);
    font-size: 50px;
}

.popup button{
    width:100%;
    background:rgb(0, 255, 98);
    padding:10px 0;
    margin-top:50px;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0 2px black;
}

.popup a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}

.open-slide{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
} */
/* --------------------------------------------------------------------- */